#app {
    display: flex;
    justify-content: center;
}
.flex-container-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#app > .flex-container-wrap > div  {
    width: 300px;
    height: 300px;
    padding: 10px;
}
.gui-box {
    padding: 2%;
    margin-right: 2%;
    background: whitesmoke;
    border: 1px solid yellowgreen;
}